extends layout2

block main

  h2= assignment.name
  p
    a(href='/' + params.username + '/' + params.courseLabel + '/' + assignment.abbr + '/edit') edit assignment
  h3 Teams

  ul
    each team in teams
      li
        team.name
  p #{teams.length} teams
