extends layout

block main

  h2 Stub
  - if (username)
    p User: #{username}
    - if (courseLabel)
      p Course: #{courseLabel}
      - if (assignmentAbbr)
        p Assignment: #{assignmentAbbr}
