extends layout2

block main

    h2 Courses
    a.btn.btn-success(href="/#{user.username}/course")
      span.glyphicon.glyphicon-plus
      | New Course

    h3 Taught
    ul
      each course in taught
        li 
          a(href='/' + user.username + '/' + course.label)= course.name ? course.name : course.label
    p #{taught.length} courses taught
    h3 Taken
    p #{taken.length} courses taken
